{% for message in app.flashes('error') %}
    <div class="col-12">
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    </div>
{% endfor %}
{% for message in app.flashes('success') %}
    <div class="col-12">
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    </div>
{% endfor %}
