<div class="col-12">
    <form class="form-group" method="post" action="{{ action }}" enctype="multipart/form-data">
        <div class="row m-4 justify-content-md-center">
            <div class="col-3">
                <input type="file" name="file" class="form-control">
            </div>
            <div class="col-3">
                <button type="submit" class="btn btn-success form-control"> Upload CSV </button>
            </div>
        </div>
    </form>
</div>
