{% extends 'base.html.twig' %}

{% block title %}Exchange{% endblock %}

{% block body %}

    <form action="{{ url('exchange') }}" id="exchange-form">
        <div class="row form-group">
            <div class="col-2">
                <label for="">Amount</label>
                <input type="text" name="amount" class="form-control" value="0">
            </div>
            <div class="col-4">
                <label for="">From</label>
                <select name="from" class="form-control from-currency">
                    {% for currency in currencies %}
                        <option value="{{ currency.getCurrency() }}">{{ currency.getCurrency() }} - {{ currency.getName() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-1" style="padding-top: 2rem">
                <button type="button" class="btn btn-success form-control exchange"><i class="fas fa-exchange-alt"></i></button>
            </div>
            <div class="col-4">
                <label for="">To</label>
                <select name="to" class="form-control to-currency">
                    {% for currency in currencies %}
                        <option value="{{ currency.getCurrency() }}">{{ currency.getCurrency() }} - {{ currency.getName() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-1" style="padding-top: 2rem">
                <button type="submit" class="btn btn-success form-control"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-12 text-center display-3 converted"></div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            $('.exchange').on('click', function(){
                var  temp = $('.from-currency').val();
                $('.from-currency').val($('.to-currency').val());
                $('.to-currency').val(temp);
            });
            $('#exchange-form').on('submit', function (e) {
                e.preventDefault();
                var url = $(this).prop('action');
                var data = $(this).serialize();
                $.post(url, data, function (response) {
                    if(response.success){
                        var text = response.amount + ' ' + response.from.currency + ' = ' +
                                response.result + ' ' + response.to.currency
                        $('.converted').text(text);
                    } else {

                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}
