{% extends 'base.html.twig' %}

{% block title %}Loan{% endblock %}

{% block body %}
    <div class="row">
        {% include './partials/messages.html.twig' %}
        <div class="col-12 table-responsive">
            <table class="table table-striped table-bordered table-hover ">
                <thead>
                <tr>
                    <td width="20%">Loan Number</td>
                    <td width="30%">Amount</td>
                    <td width="30%">Currency</td>
                    <td width="20%">Status</td>
                </tr>
                </thead>
                <tbody>
                {% for loan in loans %}
                    <tr>
                        <td>{{ loan.getLoanNumber() }}</td>
                        <td>{{ loan.getAmount() }}</td>
                        <td>{{ loan.getCurrency() }}</td>
                        <td>{{  loan.getStatusText()|raw }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" align="center">There is no data.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include './partials/upload.html.twig' with {'action': url('loansCsv')} %}
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}
