{% extends 'base.html.twig' %}

{% block title %}Loan{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12 table-responsive">
            <table class="table table-striped table-bordered table-hover ">
                <thead>
                <tr>
                    <td width="10%">Loan Number</td>
                    <td width="20%">Payment Number</td>
                    <td width="20%">Paid Amount</td>
                    <td width="25%">Remaining Amount</td>
                    <td width="25%">Currency</td>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.getLoan().getLoanNumber() }}</td>
                        <td>{{ transaction.getPayment().getPaymentNumber() }}</td>
                        <td>{{ transaction.getAmount() }}</td>
                        <td>{{ transaction.getRemainingAmount() }}</td>
                        <td>{{ transaction.getCurrency() }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" align="center">There is no data.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}
