{% extends 'base.html.twig' %}

{% block title %}Payments{% endblock %}

{% block body %}
    <div class="row">
        {% include './partials/messages.html.twig' %}
        <div class="col-12 table-responsive">
            <table class="table table-striped table-bordered table-hover ">
                <thead>
                <tr>
                    <td width="20%">Payment Number</td>
                    <td width="20%">Amount</td>
                    <td width="20%">Currency</td>
                    <td width="20%">Payment Info</td>
                    <td width="20%">Status</td>
                </tr>
                </thead>
                <tbody>
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.getPaymentNumber() }}</td>
                        <td>{{ payment.getAmount() }}</td>
                        <td>{{ payment.getCurrency() }}</td>
                        <td>{{ payment.getPaymentInfo() }}</td>
                        <td>{{ payment.getStatusText()|raw }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" align="center">There is no data.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include './partials/upload.html.twig' with {'action': url('paymentsCsv')} %}
    </div>
{% endblock %}

{% block javascript %}

{% endblock %}
